* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
      background-image: url(../../fonts/recruteur.jpg);
      background-size: cover;
  }

 .nav-tabs{
    border-bottom-width : 0 !important;
 }

 li {
     width: 21%;
 }